
/*************************************/
/*--- START Sticky Haeder STYLES *---/
/*************************************/

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 60px;
    line-height: 20px;
    background-color: #20716a;
    font-size: 40px;
    color: #ffd36b;
    font-family: "Patrick Hand", cursive;
}
.sticky {
    z-index: 1; /**** This styles positions the navbar above the Portfolio's flicards *****/
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    background-color: black;
    background-image: url('../src/Assets//Images/evening-sky2.jpg');
    width: 100%;
    height: 100vh; 
}


/******* scroll style *******/
.active {
    background: #10ABB0;
    color: #10ABB0;
}